{% extends 'profile/base.html' %}

{% block main %}
<div class="card">
              <div class="card-header">
                <h3 class="card-title">لیست مقالات</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th>عنوان مقاله</th>
                      <th>تصویر بندانگشتی</th>
                      <th>متن مفاله</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for video in object_list %}
                    <tr>
                      <td>{{video.title}}</td>
                      <td><img src="{{video.get_image}}"width="100px" /></td>
                      <td>{{video.description | truncatewords:18}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
{% endblock main %}