{% extends 'profile/base.html' %}

{% block main %}
<div class="card">
              <div class="card-header">
                <h3 class="card-title">لیست مقالات</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th>عنوان مقاله</th>
                      <th>تصویر بندانگشتی</th>
                      <th>متن مقاله</th>
                    </tr>
                  </thead>
                  {% for video in object_list  %}
                  <tbody>
                    <tr>
                      <td>{{video.title}}</td>
                      <td>
                      <img
                    src="{{video.get_image}}"
                    alt="Image"
                    class="img-fluid tm-img-right"
                    width="100"
                      />
                      </td>
                      <td>{{video.description | truncatewords:18 }}</td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">«</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
              </div>
</div>
{% endblock main %}